<!DOCTYPE html>
<head>
<title>Welcome</title>
</head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
 crossorigin="anonymous">

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <link rel="stylesheet" type="text/css" href="/stylesheets/Home.css">
</head>
<body>
    
                  


                               
                        <a href="#" class="fb btn">
                                <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                               </a>
      
      
                               <a href="#" class="google btn"><i class="fa fa-google fa-fw">
                                  </i> Login with Google+
                                </a>
                              
      
      
      
                                <form action="/blogs" method="GET">               
                                  <button type="submit" class="btn btn-success btn-lg">Continue</button>
                                      </form>   
                                      
                                      
                                         
                                      
            



        
    
        
</body>
</html>