<% include ./partials/header %>
<div class="thumbnail">
        
</div>

<% Blogs.forEach(function(Blog){ %>



                <div class="row">
                        <div class="col-lg-4">
                          <div class="thumbnail">
                                <div class="card">
                                        <div class="card-header">
                                                <%=Blog.title %>
                                        </div>
                                        <img class="card-img-top" src="<%=Blog.image%>" alt="Card image top" >
                                        <div class="card-body">
                                            <p class="card-text"><%=Blog.body.substring(0,100) %>...</p>
                                            <a href="/blogs/<%=Blog._id%>">Read More</a>
                                        </div>
                     
                           </div>
                        </div>
<% }) %>
<% include ./partials/footer %>